
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/public/feed.xml
/var/
/vendor/
###< symfony/framework-bundle ###
